:root{
  --color-sky-primary: #0ea5e9;
  --color-sky-secondary: #0c4a6e;
  --color-comfort-high: #22c55e;
  --color-comfort-low: #ef4444;
  --color-main-gold: #f6ae1d;
  --color-main-bg: #ffffff;
  --color-main-text: #111111;
  --color-secondary: #302c2c;
}